body {
    background-color: #161616;
    color: #ddd;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.group{
    width: 180px;
    background-color: #335;
    display: grid;
    margin:0 auto 20px;
    grid-template-columns: 100px 80px;
border-radius: 15px;
}

input,select{
    background: none;
    border:0;
    color: #fff;
}
input{
    padding: 5px;
    padding-left: 10px;
}
select{
    padding: 5px;
    padding-left: 10px;
}
option{
    background-color: #335;
}
/* input[type="text"] {
    background-color: none;
    border: none;
    border-radius: .5em 0em 0em 0.5em;
    padding: 5px;
    padding-left: 10px;
    margin: 0.5em;
    margin-right: 0;
}

select {
    background-color: none;
    margin-left: 0;
    border-radius: 0 .5em .5em 0;
    border: none;
    padding: 5px;

} */